@use '../../style' as s;

@mixin click {

	cursor: pointer;
	transition: opacity 0.7s;

	&:hover {
		opacity: 0.5;
	}	
}

.page {
	max-width: 600px;
	width: 100%;
	margin: 0 auto; 
	background-color: white;
	
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.header {
	max-width: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: s.color(white);

	position: absolute;
	top: 0;
	left: calc(50% - 300px);
	z-index: 1;

	&__top {
	width: 100%;
	display: flex;
	// flex-direction: row;
	justify-content: space-between;
	padding: 24px 0;
	border-bottom: 1px solid s.color(grey);
	}

	&__list {
		display: flex;
		// flex-direction: row;
		gap: 24px;
		

		&--vertical {
			flex-direction: column;
			gap: 12px;
		}
	}	
	
	&__link {
	color: s.color(text);
	font-size: 16px;
	text-decoration: none;

	height: 24px;
	display: flex;
	align-items: center;

	@include click();
	}	
	
	&__button {
		// display: flex;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: center center;
		@include click();

		&--open {
			background-image: url("/../../../svg/header_open.svg");
		}

		&--close {
			background-image: url("/../../../svg/header_close.svg");
		}
	}
	
	&__bottom {
		padding: 24px 0;
		border-bottom: 1px solid s.color(grey);
		background-color: white;
	}
	
	&__wrapper {
		
		height: 0;
		overflow: hidden;
		transition: height 0.7s;
	}




	


}











.slider {

	width: 100%;
	position: relative;

	&__content {
		display: flex;
		flex-direction: row;
		border-radius: 20px;
		
		overflow: hidden;	
	}
	
	&__button {
		width: 32px;
		height: 32px;
		background-color: white;
		border-radius: 50%;
		position: absolute;
		top: calc(50% - (32px / 2));
		
		background-position: center center;
		background-repeat: no-repeat;

		&--left {
			left: 24px;
			background-image: url("/../../svg/arrow-left.svg");
		}

		&--right {
			right: 24px;
			background-image: url("/../../svg/arrow-right.svg");
		}

		@include click;
	}



} 

